<footer class="footer p-4">
  <div class="container">
      <ul class="footer-links" >
        <li><a href="./assets/files/Toy-Robot-Code-Challenge-2020.pdf" target="_blank" data-pagename="footer-test-description" data-name="footer-test-description" name="footer-test-description" ><i class="fa fa-info-circle"></i> What's This?</a></li>
        <li><a href="https://www.linkedin.com/in/imannorouzi/" target="_blank" data-pagename="footer-link-to-linkedIn" data-name="footer-linedIn" name="footer-linedIn"><i class="fa fa-linkedin-square"></i> My LinkedIn page</a></li>
        <li><a href="https://github.com/imannorouzi" target="_blank" data-pagename="footer-link-to-github-page" data-name="footer-link-to-my-github" name="footer-github" ><i class="fa fa-github-square"></i> My Github</a></li>
        <li><a href="./assets/files/Resume.pdf" target="_blank" data-pagename="footer-link-to-resume" data-name="footer-link-to-resume" name="footer-resume"><i class="fa fa-user-circle"></i> My Resume</a></li>
      </ul>

      <div class="">
        <p class="text-right">This is all open source <i class="fa fa-copyright fa-rotate-180"></i>, so, feel free to copy.</p>
      </div>
  </div>
</footer>
