<footer class="footer p-2">
  <div class="container">
      <div class="row">
          <ul class="footer-links col-md-6" >
              <li><a href="./assets/files/Toy-Robot-Code-Challenge-2020.pdf" target="_blank" data-pagename="footer-test-description" data-name="footer-test-description" name="footer-test-description" ><i class="fa fa-info-circle"></i> Help</a></li>
              <li><a href="https://www.linkedin.com/in/imannorouzi/" target="_blank" data-pagename="footer-link-to-linkedIn" data-name="footer-linedIn" title="linkedIn" name="footer-linedIn"><i class="fa fa-linkedin-square"></i> LinedIn</a></li>
              <li><a href="https://github.com/imannorouzi" target="_blank" data-pagename="footer-link-to-github-page" data-name="footer-link-to-my-github" title="github" name="footer-github" ><i class="fa fa-github-square"></i> Github</a></li>
              <li><a href="./assets/files/Resume.pdf" target="_blank" data-pagename="footer-link-to-resume" data-name="footer-link-to-resume" title="Iman Norouzi's reume" name="footer-resume"><i class="fa fa-user-circle"></i> Resume</a></li>
          </ul>

          <div class="col-md-6 text-right">
              <small class=""> Feel free to copy. <i class="fa fa-copyright fa-rotate-180"></i></small>
          </div>
      </div>

  </div>
</footer>
