header{
  padding: 0;
  border-bottom: 1px solid #0070ba;
}

main{
}
.content-wrapper,
.command-history-wrapper{
  max-height: 100%;
  overflow: auto;
}


section{
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,.1);
  box-shadow: 0 2px 1px 0 rgba(0,0,0,.1);
}
